{% extends 'dashboard.html' %}

{% block content %}
  <section class="w-full h-full flex p-6">
    <div class="basis-24 h-full p-2 grow flex flex-col gap-4 items-start overflow-auto">
      <h2 class="text-2xl capitalize font-bold">hello<span class="font-thin">, {{ user.first_name }}</span></h2>
      <p class="text-xs font-thin w-5/6">Nice to have you back, what an exciting day to work</p>
      <div class="w-full flex flex-col items-start gap-4">
        <span class="font-bold text-lg capitalize">pending leave requests</span>
        <div class="w-full flex flex-col gap-2">
          {% for leave in pending %}
            <div class="shadow flex flex-col items-start gap-2 p-2">
              <h2 class="text-slate-600 capitalize text-sm mt-2 font-semibold">{{ leave.title }}</h2>
              <p class="w-full leading-4 text-sm text-slate-400 border-b pb-2">{{ leave.description }}</p>

              <div class="w-full flex items-center justify-end gap-4 font-bold text-[0.6rem]">
                <span class="">From: <i class="">{{ leave.from_date }}</i></span>
                <span class="">To: <i class="">{{ leave.to_date }}</i></span>
              </div>
            </div>
            {% empty %}
            <p class="text-center w-full text-slate-300 mt-4">There's no pending requests</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="basis-80 grow-[3] p-6 rounded-xl bg-slate-200 h-full gap-4 flex flex-wrap content-start">
      <div class="w-full h-32 text-white bg-slate-600 rounded flex items-center justify-between px-10">
        <h2 class="text-xl font-bold" style="font-variant: small-caps;">overviews</h2>

        <div class="flex gap-10">
          <div class="flex flex-col items-center gap-1 text-center leading-3">
            <b class="text-xl leading-3">{{ pending.count }}</b><i class="text-xs leading-3">pending</i>
          </div>
          <div class="flex flex-col items-center gap-1 text-center leading-3">
            <b class="text-xl leading-3">{{ accepted.count }}</b><i class="text-xs leading-3">accepted</i>
          </div>
          <div class="flex flex-col items-center gap-1 text-center leading-3">
            <b class="text-xl leading-3">{{ rejected.count }}</b><i class="text-xs leading-3">rejected</i>
          </div>
        </div>
      </div>

      <div class="w-full flex flex-wrap gap-4">
        <div class="basis-20 p-6 px-12 items-center justify-center flex flex-col gap-2">
          <h4 class="capitalize whitespace-nowrap fon-semibold text-slate-700">performance overview</h4>
          <div class="w-40 flex items-center justify-center flex-col aspect-1 rounded-full relative before:absolute before:inset-1 before:rounded-full before:bg-white" style="background: conic-gradient(rgb(148 163 184) {{ user.employee.performance|default:0 }}%,rgb(20 20 20 / 0.1) 0%);">
            <span class="font-bold text-3xl text-slate-700 z-10">{{ user.employee.performance|default:0 }}%</span>
            <span class="text-xs text-center leading-3 mt-2 -mb-4 text-slate-500 z-10">your average score percentage</span>
          </div>
        </div>
        <div class="grow">
          <table class="w-full">
            <caption class="capitalize text-left font-semibold text-slate-700 mb-4">my details</caption>
            <tbody>
              <tr class="capitalize">
                <td class="p-1 px-2 border border-gray-500">name</td>
                <td class="p-1 px-2 border border-gray-500">{{ user.get_full_name }}</td>
              </tr>
              <tr class="capitalize">
                <td class="p-1 px-2 border border-gray-500">department</td>
                <td class="p-1 px-2 border border-gray-500">{{ user.employee.department.name }}</td>
              </tr>
              <tr class="capitalize">
                <td class="p-1 px-2 border border-gray-500">phone number</td>
                <td class="p-1 px-2 border border-gray-500">{{ user.employee.phone_number }}</td>
              </tr>
              <tr class="capitalize">
                <td class="p-1 px-2 border border-gray-500">gender</td>
                <td class="p-1 px-2 border border-gray-500">{{ user.employee.gender }}</td>
              </tr>
              <tr class="capitalize">
                <td class="p-1 px-2 border border-gray-500">date of birth</td>
                <td class="p-1 px-2 border border-gray-500">{{ user.employee.date_of_birth }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
