{% extends 'landing.html' %}

{% block content %}
  <section class="w-full bg-slate-900 brightness-75 text-white font-bold flex items-center justify-center aspect-[3.5] min-h-80">
    <h1 class="capitalize text-3xl md:text-6xl">Who We Are</h1>
  </section>

  <section class="w-full flex flex-wrap gap-8 px-[10%]">
    <div class="h-80 basis-96 grow flex flex-col items-start justify-center gap-4 p-[5%] shadow from-slate-400 to-slate-800 text-white bg-gradient-to-b">
      <h2 class="capitalize self-center md:self-start text-2xl md:text-4xl">Our Mission</h2>
      <p class="font-thin">
        We are dedicated to providing innovative solutions that streamline employee management processes, enhance workplace efficiency, and foster a culture of collaboration and productivity.
      </p>
    </div>

    <div class="h-80 basis-96 grow flex flex-col items-start justify-center gap-4 p-[5%] shadow">
      <h2 class="capitalize self-center md:self-start text-2xl md:text-4xl">Our Vision</h2>
      <p class="font-thin">
        Our vision is to become the leading provider of employee management systems, empowering organizations of all sizes to optimize their workforce management strategies and achieve their business objectives.
      </p>
    </div>

    <div class="h-80 basis-96 grow flex flex-col items-center justify-center gap-4 p-[5%] shadow">
      <h2 class="capitalize text-2xl md:text-4xl">Our Values</h2>
      <p class="text-center font-thin">
        At the core of our company are values of integrity, innovation, and customer satisfaction. We believe in fostering a culture of continuous improvement and accountability to deliver exceptional results for our clients.
      </p>
    </div>
  </section>
{% endblock %}
